@font-face {
  font-family: 'Tahoma';
  src: url('/tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0 0;
  background-image: url('../resources/main-ui/menu-background@2x.jpg');
background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Tahoma', sans-serif;
  background-color:#0478fc;
}
  
  .topnav {
    
    overflow: hidden;
    background-color: #000000;
  }
  
  .topnav h1 {
    float: left;
    color: #f2f2f2;
    padding: 4px 6px;
    margin: 0;
    font-size: 60px;
  }
  
  .topnav a {
    margin-top: 80px;
width: 170px;
height: 25px;
    border-radius: 9px 9px 0 0;
    float: left;
    color: #f2f2f2;
    margin-right: -10px;
    text-align: center;
    background-color: #fe6345;
    padding: 2px 14px;
    border-style: none;
    border-color:#333;
    border-width: 1px;
    text-decoration: none;
    border: 1px solid black;
    font-size: 23px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .topnav p {
    clear: both;
    bottom: 0;
    color: #f2f2f2;
    padding: 0px 6px;
    margin: 0;
    font-size: 27px;
  }
  
  .topnav a:hover {
    background-color: #fd9999;
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  .container {
    display: flex;
    width: 100%;
  }
  
  .first-div {
    width: 23.33%; /* (0.7/3)*100 */
  }
  
  .second-div {
    width: 53.33%; /* (1.6/3)*100 */
    bottom: 0;
  }
  
  .third-div {
    width: 23.33%; /* (0.7/3)*100 */
  }
  
  .brothinkhespecial {
    position: absolute;
    margin-top: 50px !important;
    left: 448px;
  }

  .backcontainer {
    position: absolute;
    bottom: 0;
  }
  
  .backcontainer img {


width: 270px;
    top: 637px;
    left: 0;
  }
  
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.5s, height 0.5s 2s;
  }

  
  #fadeContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 9999;
  }
  
